<%- include ("partials/header"); %>
<div class="container">
	

	<div class="jumbotron">
	  <h1>welcome to yelpcamp</h1>

	  <p><a class="btn btn-primary btn-lg" href="/camps" role="button">view all camps</a></p>
	</div>

</div>


<%- include ("partials/footer"); %>